page-welcome {
	text-align: center;
	
	#icon{
		width: 130px;
		height: 130px;
		background: #117961;
		color: white;
		font-size: 110px;
		font-weight: 600;
		border-radius: 25px;
		margin: 0 auto;
	}

	ion-footer{
		text-align: right;
		a{
			font-size:20px;
			margin-right: 20px;
		}
	}

}
