page-welcome {
	text-align: center;

    ion-icon {
        font-size: 70px; //Preferred size here
    }

	.bar-button-default-md{
		color:#60646B;
	}
	
	#icon{
		width: 150px;
		height: 150px;
		background: #117961;
		color: white;
		font-size: 130px;
		font-weight: 600;
		border-radius: 25px;
		margin: 30px auto;
	}

	ion-icon.list{
		background: black;
		border-radius: 20px;
		padding-top: 5px;
		color: white;
		margin: initial !important;
		font-size: 20px !important;
    width: 31px;
    height: 31px;
    font-family: inherit;
	}

	ion-label{
		font-size: 1.2em !important;
	}

	.swiper-pagination-bullet-active{
		background: color($colors, primary);
	}

	.item-inner{
		margin-left: 15px !important;
	}


	.toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
