<!--
  Generated template for the SettingRouterscombinationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Configuración</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
		<ion-card-content>
			Sea libre de elegir tres de los cinco routers disponibles para hacer
			su encriptado, o importe una configuracion para comenzar.
		</ion-card-content>
	</ion-card>
	<ion-list>
	  <ion-item>
	    <ion-label>Router 1</ion-label>
	    <ion-select [(ngModel)]="r1">
  			<div 
				*ngFor="let disk of wiring.getAll(); let idx = index">
				<ion-option
					[selected]="idx==r1" 
					value="{{ idx }}">
					{{ disk }}
				</ion-option>
			</div>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>Router 2</ion-label>
	    <ion-select [(ngModel)]="r2">
  			<div 
				*ngFor="let disk of wiring.getAll(); let idx = index">
				<ion-option
					[selected]="idx == r2" 
					value="{{ idx }}">
					{{ disk }}
				</ion-option>
			</div>
	    </ion-select>
	  </ion-item>
	  <ion-item>
	    <ion-label>Router 3</ion-label>
	    <ion-select [(ngModel)]="r3">
  			<div 
				*ngFor="let disk of wiring.getAll(); let idx = index">
				<ion-option
					[selected] = "idx == r3" 
					value="{{ idx }}">
					{{ disk }}
				</ion-option>
			</div>
	    </ion-select>
	  </ion-item>
	</ion-list>
		<ion-grid>
		    <ion-row>
			    <ion-col col-80>
				    <ion-item>
		    			<ion-input 
							[(ngModel)] = "namefile"
							placeholder="Nombre de archivo:" 
							type="text">
						</ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-20>
					<button 
						full
						ion-button 
						(click)="export()"
						[disabled]="!namefile" 
						>Exportar
					</button>
					<button 
						full
						ion-button 
						(click)="import()" 
						>Importar
					</button>	
			    </ion-col>
	    	</ion-row>
    	</ion-grid>
</ion-content>
<ion-footer no-shadow>
	<ion-toolbar position="bottom">
		<button 
			ion-button 
			full
			(click)="done()" 
			>Listo</button>
	</ion-toolbar>
</ion-footer>
